*{
  margin: 0;
  padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    display: flex;
    justify-content: center;
    align-items: center;
  }