.grid{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}
.turnHeader{
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 12px;
}
.winner-con{
    display: flex;
    justify-content: center;
}
.winnerh1{
    color: rgb(146, 255, 146);
    text-align: center;
    font-size: 42px;
    display: block;
}
.reset{
    margin-left: 40%;
    color: white;
    background-color: red;
    border: 1px solid black;
    border-radius: 20%;
    padding:8px;
}
