.card{
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0);
    background-color: var(--yellow);
    height:80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.card:hover{
    color: aliceblue;
    transform: scale(1.2);
}