.grid{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
}
.turnHeader{
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 12px;
}